.NavigationItem {
    margin: 0;
    padding: 0;
    display: flex;
}

.NavigationItem a {
    color: black;
    font-weight: bold;
    font-size: 25px;
    padding-right: 20px;
    margin: 0;
}

.NavigationItem a:hover {
    text-decoration: none;
    color: black;
}