.KeepReading {
    color: green;
    text-decoration: none;
}

.KeepReading:hover {
    text-decoration: none;
    color: green;
}

.Article {
    padding-bottom: 20px;
    margin: 20px;
    overflow-wrap: break-word;
}

@media screen and (min-width: 1616px) {
    .Article {
        width: 30%;
    }
}

@media (max-width: 1616px) {
    .Article {
        width: 45%;
    }
}

@media (max-width: 1216px) {
    .Article {
        width: 100%;
    }
}