.Main {
    flex-basis: 450px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
}

.Main div {
    max-width: 800px;
    overflow-wrap: break-word;
}

.Loader {
    flex-basis: 450px;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 35em;
    margin-top: 12em;
}