.Main {
    flex-basis: 450px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
}

.Main div {
    max-width: 800px;
    overflow-wrap: break-word;
}

.Loader {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}