.Footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    font-size: large;
    flex-basis: 250px;
    border-top: 6.5px outset;
    border-top-color: green;
}

.Blog{
    font-weight: bold;
}

.KeepinTouch{
    text-decoration: none;
    color: green;
}

.KeepinTouch:hover{
    text-decoration: none;
    color: green;
    font-size: 20px;
}