.Title {
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.Empty {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

@media screen and (min-width: 1216px) {
    .Articles {
        display: flex;
        flex-wrap: wrap;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 150px;
    }
}

@media (max-width: 1616px) {
    .Articles {
        margin-left: 10px;
        margin-right: 10px;

    }
}

.Content p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} 